In [1]:
import pandas as pd
df = pd.read_csv('../data/data.csv', index_col=0)

In [2]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.023653,-0.011149,-0.022068,-0.026776,0.069793,0.005282,-0.028653,-0.058135,0.035165,-0.034278
1,-0.006584,0.075201,-0.022178,-0.048230,-0.010751,-0.054809,0.088204,0.009946,0.008160,-0.021935
2,0.030842,0.036545,0.011522,0.014964,0.003216,0.017890,-0.000643,-0.093318,-0.005507,0.050339
3,0.072525,-0.022356,-0.091109,-0.043239,-0.067845,-0.028602,-0.050367,-0.063247,-0.014338,0.016363
4,-0.011150,0.025836,-0.082139,-0.067253,-0.025923,-0.013890,0.039169,0.009374,-0.070406,-0.083954

In [3]:
import pickle

with open("../models/model.pkl", "rb") as f:
    model = pickle.load(f)

y_pred = model.predict(df)
print(y_pred)

[ 76.66434332 103.06654325 134.5427038  110.87044314  48.18267976]